/*  || General */
html{
  font-size: 10px;
  font-family: Times, "Times New Roman", Georgia, serif;
  --primary-color: #301008;
  --secondary-color: #ed0b70;
  --main-bg-color: #e3ecfa;
  --main-font-color: #482673;
  --secondary-bg-color: #fcf5fc;
}

a{
  text-decoration: none;
  padding: 1rem;
  margin-right: 1rem;
  color: var(--main-font-color);
}

a:visited{
    color: var(--main-font-color);
}

a:hover{
  color: var(--secondary-bg-color);
  background-color: var(--main-font-color);
  border-radius: 1rem;
}

/*  || Utilities */
.no-margin{
    margin: 0px;
}

/*  Sitewide */
body{
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-size: calc(1.6rem + 1vw);
}

.body-structure{
  box-sizing: border-box;
}

.nav-bar{
  background-color: var(--secondary-bg-color);
  font-size: 2em;
}

.nav-bar-structure{
  padding: 2rem 0rem;
  border-radius: 1rem;
  width: 100%;
}

aside{
  background-color: var(--secondary-bg-color);
  font-size: 3rem;
  border-radius: 5px;
}

.aside-structure{
  margin-top: 1rem;
}

.aside-nav-structure{
    display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

/*  Form Page */

/*  Page Main */
main{
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}

.main-structure{
    text-align: center;
    margin: 10px 10%;
    padding: 5px 0px 10px 0px;
}

input[type="button"]{
    background-color: red;
}