<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}
    <!-- https://github.com/yabwe/medium-editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{% static 'blog_app/css/blog.css' %}">
    <script src="{% static 'blog_app/js/script.js' %}" type="text/javascript" defer></script>

    <!-- fonts -->
  </head>
  <body>

    <header class="nav-bar nav-bar-structure">
      <a id="home" href="{% url 'blog_app:post_list' %}">Our Blog</a>
      <a href="{% url 'blog_app:about' %}">About</a>
    </header>

    <aside class="nav-bar aside-structure">
      <nav class="aside-nav-structure">
        {% if user.is_authenticated %}
          <a href="{% url 'blog_app:post_new'%}">New Post</a>
          <a href="{% url 'blog_app:post_draft_list' %}">Drafts</a>
          <a href="{% url 'logout' %}">Sign Out</a>
          <p class="no-margin">Welcome: {{ user.username }}</p>
        {% else %}
          <a class="sign-in" href="{% url 'login' %}">Sign In!</a>
        {% endif %}
      </nav>
    </aside>

    {% block main %}
    {% endblock %}

  </body>
</html>
